<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
      /* <meta name="viewport"content="width=device-width, initial-scale=1"><title>Hello Bulma !</title><link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> */
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">
        PawPics
      </p>
      <p class="subtitle">
        Come Sign up
      </p>
    </div>
  </section>


</body>

<%- include('../partials/footer') %>

</html>